.app-footer{
    background-color: black;
    color: white;
}

.footer-profile-img{
    width: 4em;
    height: auto;
}

.social-media-icons, .contact-icons{
    margin-right: 0.3em;
}

.social-media-icons{
    font-size: 2.2em;
}

.contact-icons{
    font-size: 1.2em;
}

