/* Arts Section Layout */

.arts-section{
    background-color: black;
    
}

.arts-container{
    display: flex;
}


.art-cover {
    width: 12em;
    height: 12em;
    object-fit: cover;
}



/* Media Queries */
@media screen and (min-width: 375px) and (max-width:424px){  
    .art-cover{
        width: 15em;
        height: 15em;
    }
    
}

@media screen and (min-width: 425px){
    .art-cover{
        width: 18em;
        height: 18em;
    }
    
}


/* Make table layout match larger phone devices */
@media screen and (min-width: 768px) and (max-width: 1200){
    .art-cover{
        width: 13em;
        height: 13em;
    }
}
