/* Hero layout */
#hero{
    background-color: #241B23;
    color: white;
    height: 100vh;
}

.hero-video{
    height: inherit;
    object-fit: cover;
    opacity: 0.4;
}
  
.text-overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* Hero content */
.hero-title{
    font-family: "Cinzel Decorative", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3em !important;
}


.hero-subtitle{
    font-family: "Livvic", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1em;
}

.hero-title, .hero-subtitle{
    user-select: none;
    cursor: default;
}

.icons{
    margin-right: 0.3em;
    font-size: 1.7em;
    color: white;
}


a{
    text-decoration: none;
    color: inherit;
}


/* Media Queries */

/* Tablets */
@media screen and (min-width: 768px) and (max-width: 1024px){
    .hero-title{
        font-size: 4.5em !important;
    }
    .hero-subtitle{
        font-size: 1.3em;
    }
    .icons{
        font-size: 2em;
        margin-right: 0.5em;
    }
    
}

/* Larger Screens */
@media screen and (min-width: 1024px){
    .hero-title{
        font-size: 6em !important;
    }
    .hero-subtitle{
        font-size: 1.7em;
    }
    .icons{
        font-size: 2.2em;
    }
    
}

/* Extra large screens */
@media screen and (min-width: 1500px){
    .hero-subtitle{
        font-size: 2em;
    }
    .icons{
        font-size: 2.5em;
    }
    
}
