.scrollToTopBtn.show{
    display: block;
    background-color: black !important;
    bottom: 50px;
    left: 80vw;
    position: fixed;
    z-index: 1;
}


.scrollToTopBtn.hide{
    display: none !important;
}