main{
    position: relative;
}

.section-container{
    /* position: absolute; */
    top: 2%;
    /* left: 50%; */
    /* transform: translate(-50%, -0%); */
    color: white;
    font-family: "Livvic", sans-serif;
}

.footer-container{
    position: relative;
    bottom: 0;
    right: 0;
    
    
}


section{
    margin-bottom: 10em;
    margin-top: 5em;
}



/* Media Queries */
@media screen and (min-width: 450px){
    .section-container{
        top: 10%;
    }
}
